body {
    background-color: white;
}

h1 {
    color: blue;
    font-size: xxx-large;
    font-style: oblique;
    position: center;
    font-family: "Roboto Thin";
}

h2 {
    font-size: xx-large;
    font-family: Roboto;
}

li {
    font-size: x-large;
    font-family: Roboto;
}

ul {
    display: flex;
}

p {
    font-family: Arial;
    font-style: italic;
    background-color: chartreuse;
    text-align: center;
    font-size: large;
}

h3 {
    font-size: x-large;
    font-family: "Times New Roman";
}

.hb {
    display: inline;
    margin: 15px;
    text-align: center;
    position: center;
}

li1 {
    font-size: x-large;
    font-family: Roboto;
    float: right;
    display: inline;
    margin: 15px;
    text-align: center;
    position: center;
}

p1 {
    font-family: Arial;
    font-style: italic;
    text-align: center;
    font-size: large;
    position: fixed;
    bottom: 0;
}

p2 {
    font-family: Arial;
    text-align: center;
    font-size: xx-large;
}

.button1 {
    font-size: 24px;
}