<!DOCTYPE html>
{% load static %}
<html>
 <head>
     <link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}"/>
     <title>Online Store APP - {% block title %}Welcome!{% endblock %}</title>
 </head>
 <body>
 <div>
 <h1>{% block myhdg %}
        {% if user.is_authenticated %}
            Hello {{ user.username }}
        {% else %}
            Hello Five Guys
        {% endif %}
    {% endblock %}</h1>
 {% block body_block %}*** {% endblock %}
 </div>
 <div><br><br><br><br>
    <ul>
         {% block link_block %}
            <li class="hb"><a href="/myapp/about">About this site</a></li>
            <li class="hb"><a href="{% url 'myapp:products' %}">All products</a></li>
            {% if user.is_authenticated %}
                <li class="hb"><a href="{% url 'myapp:logout' %}">Logout</a></li>
            {% else %}
                <li class="hb"><a href="{% url 'myapp:login' %}">Login</a></li>
            {% endif %}
            <li class="hb"><a href="{% url 'myapp:index' %}">Main page</a><br/></li>
             <li class="hb"><a href="{% url 'myapp:register' %}">Registration</a><br/></li>
        {% endblock %}
    </ul>
</div>
 <hr />
 </body>
</html>