<!DOCTYPE html>
{% load static %}
<html>
 <head>
     <link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <title>Online Store APP - {% block title %}Welcome!{% endblock %}</title>
 </head>
 <body>
 <div>
 <h1>{% block myhdg %}
        {% if user.is_authenticated %}
            Hello {{ user.first_name }}
            <li1><a href="{% url 'myapp:logout' %}">Logout</a></li1>
            <li1><a href="{% url 'myapp:users-profile' %}">My Profile</a></li1>
            <li1><a href="/myapp/about">About this site</a></li1>
            <li1><a href="{% url 'myapp:myorders' %}">My orders</a></li1>
            <li1><a href="{% url 'myapp:index' %}">Main page</a></li1>
            <li1><a href="{% url 'myapp:products' %}">All products</a></li1>
            <hr/>
        {% else %}
            Hello User
            <li1><a href="{% url 'myapp:login' %}">Login</a></li1>
            <li1><a href="{% url 'myapp:register' %}">Register Here</a><br/></li1>
            <hr/>
        {% endif %}
    {% endblock %}</h1>
 {% block body_block %}*** {% endblock %}
 </div>
 </body>
</html>