{% extends 'myapp/base.html' %}
{% block body_block %}
    <p>Last Login - {{ last_login }}</p>
    {% if cat_list %}
        <h3>List of Categories</h3>
        <ol>
            {% for cat in cat_list %}
                <li><a href="{{ cat.id }}">{{ cat.name }}</a></li>
            {% endfor %}
        </ol>
    {% else %}
        <strong>There are no available categories!</strong>
    {% endif %}
    {#    <p><a href="{% url 'myapp:about' %}">About page</a></p>#}
{% endblock %}
{% block link_block %}
    <li class="hb"><a href="/myapp/about">About this site</a></li>
            <li class="hb"><a href="{% url 'myapp:products' %}">All products</a></li>
            {% if user.is_authenticated %}
                <li class="hb"><a href="{% url 'myapp:logout' %}">Logout</a></li>
            {% else %}
                <li class="hb"><a href="{% url 'myapp:login' %}">Login</a></li>
            {% endif %}
            <li class="hb"><a href="{% url 'myapp:myorders' %}">View Orders</a><br/></li>
            <li class="hb"><a href="{% url 'myapp:index' %}">Main page</a><br/></li>
{% endblock link_block %}