{% extends 'myapp/base.html' %}
{% block title %}Login Page{% endblock %}
{% block body_block %}
    <div class="form-group">
        <h3 style="text-align: left;">Login</h3>
        {% if msg %}
            <p>{{ msg }}</p>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="User name"/>
            </div>
            <div>
            <label for="pass1">Password</label>
            <input type="password" name="password" id="password" placeholder="Password"/>
            </div>
            <button type="submit" value="submit">Login</button>
        </form>
    </div>
{% endblock %}