{% autoescape off %}
    Hello,

    We have received a request to reset the password for the myapp account
    associated with {{ user.email }}.
    No Changes have been made to your account yet.

    You can reset your password by clicking the link below:

    {{ protocol }}://{{ domain }}{% url 'myapp:password_reset_confirm' uidb64=uid token=token %}

    If you did not request a new password, please let us know immediately
    by replying to this email.

    - Team Five Guys
{% endautoescape %}