{% extends 'myapp/base.html' %}
{% block title %}PlaceOrder{% endblock %}
{% block body_block %}
    {% if prodlist %}
        <h3>List of products</h3>
        <ol>
            {% for product in prodlist %}
                {% if product.available %}
                    <li> {{ product.name }} </li>
                {% endif %}
            {% endfor %}
        </ol>

        <div class = "form-group">
        <h3 style = "text-align: left;">Order form</h3>
        <form method = "POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type = "submit" class = "btn btn-primary">Place Order</button>
        </form>
        </div>
        {% if msg %}
            <p1>{{ msg }}</p1>
        {% endif %}

    {% else %}
        <strong>There are no available products!</strong>
    {% endif %}
{#    <p><a href="{% url 'myapp:index' %}">Index page</a></p>#}
{% endblock %}