{% extends 'myapp/base.html' %}
{% block title %}Products{% endblock %}
{% block body_block %}
    {% if prodlist %}
        <h3>Available products</h3>
        <ol>
            {% for product in prodlist %}
                {% if product.available %}
                    <li><a href="{{ product.id }}/">{{ product.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ol>
    {% else %}
        <strong>There are no available products!</strong>
    {% endif %}
    <p><a href="{% url 'myapp:placeOrder' %}">Place Order</a></p>
{% endblock %}