{% extends 'myapp/base.html' %}
{% block title %}Registration Page{% endblock %}
{% block body_block %}
    <div class="form-group">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3" id="bg2">
                        <div class="card-header justify-content-center">
                            <h3 style="text-align: center; font-size: xxx-large">Register</h3>
                            <br>
                            {% if msg %}
                                <p1>{{ msg }}</p1>
                            {% endif %}
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1">
                                        <div class="form-group" >
                                            <b><label for="username">Username</label></b>
                                            <input type="text" name="username" id="username" placeholder="User name"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1">
                                        <div class="form-group">
                                            <b><label for="email">Email</label></b>
                                            <input type="text" name="email" id="email" placeholder="Email"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1">
                                        <div class="form-group">
                                            <b><label for="first_name">First Name</label></b>
                                            <input type="text" name="first_name" id="first_name" placeholder="first name"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1">
                                        <div class="form-group">
                                            <b><label for="last_name">Last Name</label></b>
                                    <input type="text" name="last_name" id="last_name" placeholder="last name"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1">
                                        <div class="form-group">
                                            <b><label for="pass1">Password</label></b>
                                            <input type="password" name="password" id="password" placeholder="Password"/>
                                        </div>
                                    </div>
                                </div>
                                <div style="text-align: center">
                                    <button type="submit" value="submit"><b>Register</b></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}